<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruslan.hlushan.core.ui.api">

    <application>
        <activity
            android:name=".presentation.view.activity.DummyActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.TransparentActivity" />
    </application>

</manifest>