<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruslan.hlushan.core.ui.fragment">

    <application>

        <activity
            android:name="com.ruslan.hlushan.core.ui.activity.DummyActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/AppTheme.TransparentActivity" />

    </application>

</manifest>