<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruslan.hlushan.work.manager.extensions">

    <application>

<!--todo: duplicated in app gradle module; https://issuetracker.google.com/issues/196577686-->
<!--        <provider-->
<!--            android:name="androidx.work.impl.WorkManagerInitializer"-->
<!--            android:authorities="${applicationId}.workmanager-init"-->
<!--            android:exported="false"-->
<!--            tools:node="remove" />-->

    </application>

</manifest>